.container {
    height: 150px;
    max-width: 1280px;
    width: 98%;
    margin: 0 auto;
    background-color: aqua;

}

.tbclogo1 {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    margin-top: 20px;
    align-items: center;
    
}

.mtavari {
    color:black;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}



.chvenshesaxeb {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
    
.siaxleebi {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kontaqtebi {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.chatboti {
    color:black;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.chamonatvali {
    display: flex;
    gap: 20px;
    margin-left: 500px;
    align-items: center;
    
    
}


